NODE_ENV="development" # Options: 'development', 'production'
PORT="3000"            # The port your server will listen on
HOST="localhost"       # Hostname for the server
JWT_PRIVKEY="QWE&@8123"
FRONTEND_URL="http://localhost:1234"

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="10" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="2000" # Max number of requests per window per IP

DATABASE_URL="postgres://postgres:postgres@localhost:5436/atlas"

SMTP_EMAIL="user@etherial.emal"
SMTP_PASSWORD="password"
